.good {
  font-size: 12px;
  font-family: 微软雅黑;
  background: #f56c6c;
  color: white;
  padding: 2px 5px;
  margin: 2px 5px;
}
.bad {
  font-size: 12px;
  font-family: 微软雅黑;
  background: #67c23a;
  color: white;
  padding: 2px 5px;
  margin: 2px 5px;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
